@model Problend.Models.CartonBox

@{
    ViewBag.Title = "Изтриване на кашон";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изтрий кашона</h2>

<h3>Сигурен ли си че искаш да изтриеш този кашон?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lenght)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            @Html.ActionLink("Обратно към всички кашони", "All")
        </div>
    }
</div>
